<%- include('header'); -%>

<div class="forms">
    <img class="login-img" src="images/signup-img.jpg" alt="">
    <form action="/signup" method="POST">
        <div class="inputs">
            <h1 class="text-center">Sign Up</h1>
            <input placeholder="Email" name="username" type="email">         
            <input placeholder="Password" name="password" type="password" id="pass" value="">            
            <input placeholder="Confirm Password" name="cpassword" type="password" id="cpass" value="">           
            <input placeholder="Name" name="name" type="text" id="cpass" value="">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a href="/login">Login</a>
        </div>
    </form>
</div>
<p><%= message %></p>
<%- include('footer'); -%>