.dataname{
    float: left;
}

.dataname > li > p{
    padding: 2px;
}

.qty{
    float: right;
}

.dataname{
    list-style-type: none;
}

.dataname {
    width: 80%;
    display: flex;
    padding: 5%;
}

.dataname > p{
    padding: 5%;
}

.buttoncart>form{
    display: flex;
    padding: 3%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 12px !important;
    line-height: 1.428571429;
    border-radius: 15px !important;
  }

  .buttoncart > form > p{
      padding: 0 10pxs;
  }

  .cartlist{
      display: flex;
      margin-top: 5%;
      width:50% !important;
  }

  .cartval{
      display: flex;
  }

  .money{
      margin-left: 50px;
  }

  .cartbookimage{
      width: 30%;
  }

  .addsub{
      margin: 0 10px !important;
  }

  .formtwo{
      width: 100%;
  }

  @media only screen and (max-width: 600px){
      .buttoncart{
          margin: auto;
          float: right;
      }
      .cartlist{
          width: 100% !important;
          /* justify-content:center; */
          margin: auto;
      }
      .cartbookimage{
       display: none;
    }
    .addsub{
        margin: 0 4px !important;
    }
    .buttoncart > form > p{
        padding: 0 4px;
    }
  }