.container{
    overflow: auto;
    overflow-x: hidden;
}

.booknav{
    background-color: #d63691e4;
    border-radius: 30px;
    margin-top: 3%;
    margin-bottom: 5% !important;
}

.bestSellers{
    margin-top: 5% !important;
}

.bsbooks{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.bsbooks > div{
    display: flex;
    padding: 2%;
}

.banner{
    display: flex;
}

.categories{
    display: grid;
    grid-template-columns: 60vh 60vh 60vh;
    row-gap: 5%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.catimg{
    width: 50%;
    object-fit: cover;
    margin-right: 5%;
}

.hovashow{
    display: flex;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    background-color: transparent !important;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c13283d3;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c1328369; 
  }

.carousel{
    margin: auto;
    width: 90%;
}

.carousel-inner{
    display: block;
    margin: auto !important;
}

.banner-img{
    width: 100%;
    margin: auto;
}

#r{
    font-size: 1.25rem !important;
}

.kart{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
}

.bookgallery{
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 600px){
    .categories{
        grid-template-columns: 60vh;
    }

    .hovashow{
        width: 60%;
    }

    .catimg{
        width: 50%;
    }

    .bsbooks{
        flex-direction: column;
    } 

    .carousel{
        display: none;
    }
}